body {
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  font-family: Arial, sans-serif;
  color: #B3A369;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-width: 100vw;
  
}

.header {
  background-color: #003057;
  color: #B3A369;
  padding: 2rem;
  text-align: center;
  flex-shrink: 0;
}

.navbar {
  display: flex;
  justify-content: center;
  background: #f4f4f4;
  padding: 0.5rem 0;
  flex-shrink: 0;
}

.navbar a {
  color: #007bff;
  text-decoration: none;
  margin: 0 1rem;
}

.navbar a:hover {
  text-decoration: underline;
}

.projects-section {
  min-width: 25vw;
  text-align: center;
}

.education-section {
  min-width: 25vw;
  text-align: center;
  text-emphasis: bold;
}

.skills-section {
  border-radius: 5px;
  min-width: 25vw;
  text-align: center;
  white-space: pre;
}

.contact-section {
  min-width: 25vw;
  text-align: center;
}

.skills-section ul {
  padding: 0;
}

.skills-section li {
  margin: 0.5rem 0;
}

.footer {
  text-align: center;
  background: #003057;
  color: #B3A369;
  padding: 1rem;
  margin-top: 2rem;
  flex-shrink: 0;
}
.section-headers {
  text-decoration: underline;
}

